apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: dummy-server
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/${OWNER}/${REPO}.git
    targetRevision: main
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: dummy-server
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
